:root {
  --lansinfra-orange: #F46A1F;
  --lansinfra-dark-gray: #2E3336;
  --lansinfra-light-gray: #D9D9D9;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  color: var(--lansinfra-dark-gray);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: black;
}

.text-lansinfra-orange {
  color: var(--lansinfra-orange);
}

.bg-lansinfra-orange {
  background-color: var(--lansinfra-orange);
  color: #fff;
}

.bg-lansinfra-dark {
  background-color: var(--lansinfra-dark-gray);
  color: #fff;
}

.bg-lansinfra-light {
  background-color: var(--lansinfra-light-gray);
}

.btn-lansinfra-primary {
  background-color: var(--lansinfra-orange);
  border-color: var(--lansinfra-orange);
  color: #fff;
}

.btn-lansinfra-primary:hover {
  background-color: #e05f1b;
  border-color: #e05f1b;
  color: white;
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.shape-divider svg {
  display: block;
  width: 100%;
  height: 120px;
}

.fs-sm {
  font-size: 14px;
}